
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="center"><h2>ΚΑΛΩΣ ΗΡΘΑΤΕ ΣΤΗΝ ΣΕΛΙΔΑ ΤΟΥ {{title}}</h2> </div>

<div>


    <ul class="nav " routerLinkActive="active">
      <li class="nav-item "><a class="nav-link" routerLink="/register"> Register</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="/search"> Search</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="/login"> Login</a></li>

    </ul>



<router-outlet></router-outlet>
</div>


